.Navbar{
    width: auto;
    height: 70px;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    background-color: #b0c4de;
}
.logo {
    float: right;
    margin-top: 10px;
    align-content: center;

}

.logoname{
    float: left;
    margin-top: -5px;
    margin-left: 8px;
    color: white;
    text-shadow: 2px 2px black;
}

.logo img{
    width: auto;
    height: 50px;
    margin-right: 10px;
}
.Navbar p{
    border-style: solid;
    width: 100px;

}


